body{
    background-color: darkslategrey;
    color: floralwhite;
}

a{
    text-decoration: none;
    color: floralwhite;
    background-color: grey;
}

a:hover{
   
    color: grey;
    background-color:  floralwhite;
}

#game{
    background-color: darkturquoise;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
